:root {
  --azure: #07f;
  --lightgrey: #e8e8e8;
  --fontmont: "montserrat", sans-serif;
  --fontroboto: "robotoslab", sans-serif;
  --black: #121212;
  --dark: #777474;
  --white: #fff;
  --pale-grey: #f5f6fa;
  --lightblue: #4386bf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pale-grey);
}

.addBook {
  padding: 0.801rem 10px;
  border-radius: 3px;
  background-color: #0290ff;
  text-transform: uppercase;
  color: var(--white);
  font-family: var(--fontroboto);
  font-size: 0.813rem;
  font-weight: bold;
  white-space: nowrap;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  border: none;
  cursor: pointer;
}

.buttons button {
  font-family: var(--fontroboto);
  font-size: 0.875rem;
  font-weight: 300;
  background-color: var(--white);
  color: var(--lightblue);
}

.remove-book {
  border-right: 1px solid var(--azure);
  border-left: 1px solid var(--azure);
  padding: 0 10px;
}

nav {
  background-color: var(--white);
  width: 100vw;
}

.nav ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.bookDisplay li {
  list-style-type: none;
}

.icon-container {
  border: 1px solid var(--lightgrey);
  border-radius: 50%;
  padding: 5px;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--azure);
  font-size: 1.8rem;
}

.nav ul li {
  list-style: none;
  padding: 20px 0;
}

.nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-family: var(--fontmont);
  color: var(--azure);
  font-size: 1.875rem;
  font-weight: bold;
}

.nav ul li a {
  text-decoration: none;
  color: var(--dark);
  font-size: 0.813rem;
  font-weight: normal;
}

.nav ul li a:hover,
.nav ul li a:active,
.nav ul li a:focus {
  color: var(--black);
}

.book-title {
  text-transform: capitalize;
  font-family: var(--fontroboto);
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  color: var(--black);
}

.bookDisplay {
  margin: 20px 0;
}

.book-wrapper {
  margin: 2rem 0;
  padding: 22px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.category {
  opacity: 0.5;
  font-family: var(--fontmont);
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.author {
  font-family: var(--fontroboto);
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--lightblue);
  text-transform: capitalize;
  margin-bottom: 5px;
  height: 30px;
}

.book-container {
  width: 80%;
  margin: 0 auto;
  list-style: none;
}

.book-container form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  padding: 20px 5px;
}

.book-container form input {
  padding: 0.813rem 10px;
  width: 50%;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.title {
  width: 70%;
  height: 30px;
}

.progress {
  display: flex;
  gap: 1em;
  justify-content: center;
  border-right: 1px solid var(--lightgrey);
  padding-right: 8em;
}

.circular {
  border-radius: 5%;
  width: 70px;
  height: 70px;
}

.percentage {
  font-family: var(--fontmont);
  font-size: 2rem;
  font-weight: lighter;
  color: var(--black);
}

.completed {
  opacity: 0.5;
  font-family: var(--fontmont);
  font-size: 0.875rem;
  font-weight: normal;
}

.progress-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.update {
  padding-right: 3em;
}

.chapter {
  font-family: var(--fontroboto);
  font-weight: 300;
  color: var(--black);
  margin-bottom: 5px;
  opacity: 0.5;
  font-size: 0.813rem;
}

.chapter-title {
  font-family: var(--fontroboto);
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  color: var(--black);
  margin-bottom: 15px;
}

.updateProgress {
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: var(--azure);
  color: var(--white);
}

@media (min-width: 375px) {
  .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: none;
    gap: 1rem;
    padding-right: 0;
  }

  .current-chapter {
    font-size: 0.7rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
  }
}
